{% extends 'root/layout.html' %}
{% load static %}


{% block body %}
<section class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/header_bg.jpg' %}" data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="animated fadeInDown">
            <h1>Seach Not Found</h1>
            <p>Thank you for your valuable time.</p>
        </div>
    </div>
</section>

    
{% endblock body %}
    