{% load static %}
<main>
<div class="white_bg">
    <div class="container margin_60">
        <div class="row small-gutters categories_grid">
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'root:offer_tours' %}">
                    <img src="{% static 'img/img_cat_home_1.jpg' %}" alt="" class="img-fluid">
                    <div class="wrapper">
                        <h2>Special Offers</h2>
                        <p> Pacific</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row small-gutters mt-md-0 mt-sm-2">
                    <div class="col-sm-6">
                        <a href="{% url 'root:tours' %}">
                            <img src="{% static 'img/img_cat_home_2.jpg' %}" alt="" class="img-fluid">
                            <div class="wrapper">
                                <h2>Special Tours</h2>
                                <p> Pacific</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'root:daily_tours' %}">
                            <img src="{% static 'img/img_cat_home_3.jpg' %}" alt="" class="img-fluid">
                            <div class="wrapper">
                                <h2>Daily Tours</h2>
                                <p> Pacific</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12 mt-sm-2">
                        <a href="{% url 'root:userside_report' %}">
                            <img src="{% static 'img/img_cat_home_4.jpg' %}" alt="" class="img-fluid">
                            <div class="wrapper">
                                <h2>Reports About Us</h2>
                                <p> Pacific</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/categories_grid-->
    </div>
    <!-- /container -->
</div>
<!-- /white_bg -->
</main>