{% extends 'manager/layout.html' %}
{% load static %}


{% block body %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Add Routes Page</h4>
                    <span></span>
                </div>
            </div>

        </div>
        {% for message in messages %} 
 
                            <div class="alert alert-danger"> 
                                {{ message }} 
                            </div> 
 
        {% endfor %}

        <!-- row -->
        <div class="card-body">
            <div class="form-validation">
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"><span><i
                                class="mdi mdi-btn-close"></i></span>
                    </button>
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-1 mb-1">Please Read</h5>
                            <p class="mb-0">1.  for <b>' Stops City ' </b> enter information like 'ahmedabad, baroda, vapi,'
                                <br>
                                
                            </p>
                        </div>
                    </div>
                </div>
                <hr><br>
                <form class="" action="." method="post" enctype='multipart/form-data'>
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xl-12">
                           
                            {% for i in form %}
                            <div class="mb-3 row">
                                <label class="col-lg-4 col-form-label">{{ i.label }}
                                    <span class="text-danger">*{{i.error}}</span>
                                </label>
                                <div class="col-lg-6">
                                    {{ i }}
                                </div>
                            </div>
                            {% endfor %}
        
        
        
        
                            <div class="mb-3 row">
                                <div class="col-lg-8 ms-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Total Routes Count :- {{cnt}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>bus_fk</th>
                                        <th>Origin</th>
                                        <th>Destination</th>
                                        <th>Stops</th>
                                        <th>Distance</th>
                                        
                                        
                                            
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for i in data %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.bus_fk}}</td>
                                        <td>{{i.origin_fk}}</td>
                                        <td>{{i.destination_fk}}</td>
                                        <td>{{i.stops_city}}</td>
                                        <td>{{i.distance}} KM</td>
                                        
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
                                                </button>
                                                <div class="dropdown-menu">
                                                    
                                                    <a class="dropdown-item" href="#">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>bus_fk</th>
                                        <th>Origin</th>
                                        <th>Destination</th>
                                        <th>Stops</th>
                                        <th>Distance</th>
                                        
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->




{% endblock body %}