{% extends 'root/layout.html' %}
{% load static %}

{% block body %}

    <!--Reset Password-->
	<div class="container p-5" style="margin-top:100px;">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>

{% endblock body %}