{% extends 'root/layout.html' %}
{% load static %}

{% block body %}
<section class="parallax-window" data-parallax="scroll" data-image-src="{%static 'img/header_bg.jpg' %}"
    data-natural-width="1400" data-natural-height="470">
    <div class="parallax-content-1 opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
        <div class="animated fadeInDown">
            <h1>Payment Successful </h1>
            <p>Please come again at Pacific Tours & Travels</p>
        </div>
    </div>
</section>
<main>
    <div class="container margin_60" >
<div style="margin-top: 200px;" class="container mx-auto mt-5 pt-4 text-center">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgyobPWtA8sK4FUdJ7v2mVN1k1XYUwsy1q8A&usqp=CAU">

   
    <h2 class="mt-3 pt-4">Your payment has been received!!</h2>

    
</div>
</div>
</main>
{% endblock body %}
    